:root {
    --white: #fff;
    --black: #1c2b2d;
    --gray: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Courier New", Courier, monospace;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    padding: 10px 0;
    width: 20%;
    border: none;
    outline: none;
    font-family: "Courier New", Courier, monospace;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background-color: var(--white);
    border: 1px solid var(--gray);
    color: var(--gray);
}

.location {
    margin-top: 1rem;
    color: var(--gray);
}